{% extends 'base.html' %}
{% block body %}
<div id="cover-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card offset-sm-2 offset-md-4 offset-lg-7">
          <h1 class="cover-heading">Admin Requests</h1>
          <p class="cover-text">View all requests</p>
          <table>
            <tr>
              <th>Student ID</th>
              <th>Duration</th>
              <th>Interval</th>
              <th>Topic</th>
            </tr>
            <tbody>
            {% for request in requests %}
              <tr class="'column">
                <td>{{request.student_id}}</td>
                <td>{{request.duration}}</td>
                <td>{{request.interval}}</td>
                <td>{{request.topic}}</td>
                <td>
                  <a href='edit/{{request.id}}' class="btn btn-lg">Edit</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
