{% extends 'base_content.html' %}
{% block content %}
<div id="cover-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card offset-sm-2 offset-md-4 offset-lg-7">
            
          <h1 class="cover-heading">Lesson Booker</h1>
          <p class="cover-text">Book your school music lessons!</p>
          <p>
            <a href='sign_up' class="btn btn-lg">
              Sign up
            </a>
          </p>
          <p>
            <a href='log_in' class="btn btn-lg">
              Log in
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
