{% extends 'base.html' %}
{% block body %}
<div id="cover-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card offset-sm-2 offset-md-4 offset-lg-7">
          <h1 class="cover-heading">Director Dashboard</h1>
          <p class="cover-text">View all accounts</p>
          <table class='table table-striped'>
            <tr>
              <th scope='col'>Account ID</th>
              <th scope='col'>Username</th>
              <th scope='col'>Type</th>
            </tr>
            <tbody>
            {% for account in accounts %}
              <tr class="column">
                <td>{{account.id}}</td>
                <td>{{account.username}}</td>
                <td>{{account.type}}</td>
                <td>
                  <a href='edit/{{account.id}}' class="btn btn-lg">Edit</a>
                </td>
                <td>
                  <a href='delete/{{account.id}}' class="btn btn-lg">Delete</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <a href='http://localhost:8000/director_dashboard/' class="btn btn-lg">Back</a>
          <a href='http://localhost:8000/manage_accounts/add' class="btn btn-lg">Create Account</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
