{% extends 'base.html' %}
{% block body %}
<div id="cover-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card offset-sm-2 offset-md-4 offset-lg-7">
          <h1 class="cover-heading">Manage Requests</h1>
          <p class="cover-text">View all requests</p>
          <table>
            <tr>
              <th>Student ID</th>
              <th>Instrument</th>
              <th>Availability</th>
              <th>Number of Lessons</th>
              <th>Interval</th>
              <th>Teacher ID</th>

            </tr>
            <tbody>
            {% for request in requests %}
              <tr class="'column">
                <td>{{request.student_id}}</td>
                <td>{{request.instrument}}</td>
                <td>{{request.availability}}</td>
                <td>{{request.number_of_lessons}}</td>
                <td>{{request.interval}}</td>
                <td>{{request.teacher_id}}</td>
                <td>
                  <a href='edit/{{request.id}}' class="btn btn-lg">Edit</a>
                </td>
                <td>
                  <a href='delete/{{request.id}}' class="btn btn-lg">Delete</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <a href='http://localhost:8000/admin_dashboard/' class="btn btn-lg">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
