<html>
    <head>
        <title> Student Request Form</title>
    </head>
        <body>
            <h1>Student Request Form</h1>
            <p>Please enter the details below</p>
            
            <form action='' method='post'>
                {% csrf_token %}
                {{form.as_p}}

                <div class='DateTimePicker'>
                    <label for'selected_date'>Enter your start time: </label>
                    <input type='date' id='selected_date' name='selected_date'/>
                    <select name='time'>
                        <option>9:00</option>
                        <option>10:00</option>
                        <option>11:00</option>
                        <option>12:00</option>
                        <option>13:00</option>
                        <option>14:00</option>
                        <option>15:00</option>
                        <option>16:00</option>
                        <option>17:00</option>
                        <option>18:00</option>
                        <option>19:00</option>
                        <option>20:00</option>
                    </select>
                </div>

            <input type='submit' value='submit'>
        </form>

        </body>
</html>
