<html>
    <head>
        <title> Student Request Form</title>
    </head>
        <body>
            <h1>Student Request Form</h1>
            <p>Please enter the details below</p>
            <form action=''>
            
            <form action=''>
                Select the lessons that you would like to request: <select name='lessons'>
                    <option value='violin'>Violin</option>
                    <option value='piano'>Piano</option>
                </select>
            </form>

            <form>
                <div class='DatePicker'>
                    <label for'selected_date'>Enter your start time: </label>
                    <input type='date' id='selected_date' name='selected_date'/>
                    <select name='time'>
                        <option>9:00</option>
                        <option>10:00</option>
                        <option>11:00</option>
                        <option>12:00</option>
                        <option>13:00</option>
                        <option>14:00</option>
                        <option>15:00</option>
                        <option>16:00</option>
                        <option>17:00</option>
                        <option>18:00</option>
                        <option>19:00</option>
                        <option>20:00</option>
                    </select>
                </div>
            </form>

            <form>
                Choose the number of lessons you would like to take: <select name='number_of_lessons'>
                    <option>24</option>
                    <option>48</option>
                    <option>72</option>
                    <option>96</option>
                </select>
            </form>

            <form action=''>
                Select the interval for the lesson: <select name='interval'>
                    <option value='everyOneWeek'>1 lesson every 1 week</option>
                    <option value='everyTwoWeek'>1 lesson every 2 week</option>
                </select>
            </form>

            <form action=''>
                Select the duration of each lesson: <select name='duration'>
                    <option value='thirty_min'>30 minutes</option>
                    <option value='fourty_five_min'>45 minutes</option>
                    <option value='one_hour'>60 minutes</option>
                </select>
            </form>

            <form>
                Teacher's name(if have in mind): <input type='text' name='teacher'>
            </form>

            <input type='submit' value='submmit'>
        </form>

        </body>
</html>
