{% extends 'base.html'%}
{% block body%}
<html>
    <head>
        <title>View request form</title> 
    </head>
        <body>
            <h1>Request form</h1>
            <table class='table table-striped'>
                <trclass='table-dark'>
                    <th>Request ID</th>
                    <th>Lesson </th>
                    <th>Number of Lessons</th>
                    <th>Interval</th>
                    <th>Duration</th>
                    <th>Teacher</th>
                </tr>
                <tbody>
                    {% for r in requests %}
                    <tr class = "column">
                        {% if r.booked == False %}
                        <td>{{r.instrument}}</td>
                        <td>{{r.availibility}}</td>
                        <td>{{r.number_of_lessons}}</td>
                        <td>{{r.interval}}</td>
                        <td>{{r.duration}}</td>
                        <td>{{r.teacher_id}}</td>
                        <td>{{r.booked}}</td>
                        <td>
                            <a href="edit/{{r.id}}" class='btn btn-lg'>Edit</a>
                        </td>
                        <td>
                            <a href="delete/{{r.id}}" class='btn btn-lg'>Delete</a>
                        </td>

                        {% elif r.booked == True %}
                        <td>{{r.instrument}}</td>
                        <td>{{r.availibility}}</td>
                        <td>{{r.number_of_lessons}}</td>
                        <td>{{r.interval}}</td>
                        <td>{{r.duration}}</td>
                        <td>{{r.teacher_id}}</td>
                        <td>{{r.booked}}</td>
                        <td> booked </td>
                        {% endif %}
                    </tr>
                        {% endfor%}
                </tbody>
            </table>
            <a href="{% url 'student_dashboard' %}" class='btn btn-lg'> Back</a>
        </body>
</html>
{% endblock %}