<html>
    <head>
        <title>View request form</title> 
    </head>
        <body>
            <h1>Request form</h1>
            <table>
                <tr>
                    <th> Lesson </th>
                    <th> Number of Lessons </th>
                    <th> INterval</th>
                    <th> Duration </th>
                    <th> Teacher </th>
                </tr>
                <tbody>
                    {% for r in requests %}
                    <tr class = "'column">
                        <td>{{r.instrument}}</td>
                        <td>{{r.number_of_lessons}}</td>
                        <td>{{r.interval}}</td>
                        <td>{{r.duration}}</td>
                        <td>{{r.teacher}}</td>
                    </tr>
                        {% endfor%}
                </tbody>
            </table>
        


</html>