<html>
    <head>
        <title>View request form</title> 
    </head>
        <body>
            <h1>Request form</h1>
            <table>
                <tr>
                    <th> Lesson </th>
                    <th> Number of Lessons </th>
                    <th> Lessons per week</th>
                    <th> Duration </th>
                    <th> Teacher </th>
                </tr>
                <tbody>
                    
                </tbody>
            </table>
        


</html>